<div class="blog_webi container">
        <div class="heading"><h1><span>{{ heading_title }}</span></h1></div>
        <div class="box-content">
            <div class="box-product row rless">
                <div id="blog" class="owl-carousel owl-theme">
                {% for blog in blogs %}
                    <div class="product-block col-xs-12 cless">
                       <div class="blogshadow">
                        {% if blog.image %}
                        
                            <div class="blog-left">
                                <div class="webi-blog-image">
                                    <img src="{{ blog.image }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-responsive" />
                                    <div class="blog-post-image-hover"> </div>
                                    <div class="webi_post_hover">
                                        <div class="blog-ic">
                                        <a class="icon zoom" title="Click to view Full Image " href="{{ blog.image }}" data-lightbox="example-set"><i class="fa fa-search"></i></a>
                                        <a class="icon readmore_link" title="all blog" href="{{ all_blogs }}"><i class="fa fa-link"></i></a>
                                    </div>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="blog-right">
                            
                            <h4><a href="{{ blog.href }}">{{ blog.title }}</a></h4>
                            <!-- <hr class="bhr"> -->
                            <h5>{{ blog.total_comments }} {{ entry_comment }}</h5><span class="blog-bag"></span>
                            <div class="date-time blogdt">{{ blog.date_added }}</div>
                            <p>{{ blog.description }}</p>
                             <a class="read_more btn" href="{{ blog.href }}">{{ text_read_more }}<!-- <svg width="9px" height="9px"><use xlink:href="#catarrow"></use></svg> --></a> 
                            


                             
                           <!-- <a class="read_more" href="{{ blog.href }}">{{ text_read_more }}</a>
                             <h5>{{ blog.total_comments }} {{ entry_comment }}</h5>
                                <div class="view-blog">
                                    <div class="read-more">
                                        <a href="{{ blog.href }}">
                                            <i class="fa fa-link"></i>{{ text_read_more }}
                                        </a>
                                    </div>
                                </div> -->

                        </div>
                        {% endif %}

                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <!--  <div class="buttons-see-all text-center">
            <button type="button" onclick="location='{{ all_blogs }}';" class="btn btn-primary">{{ button_all_blogs }}</button>
        </div> -->
    </div>


<script type="text/javascript">
    (function($){
    $("#blog").owlCarousel({
    itemsCustom : [
    [0, 1],
    [600, 2],
    [768, 2],
    [992, 2],
    [1200, 3],
    [1410, 3]
    ],
      // autoPlay: 1000,
      navigationText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
      navigation: true,
      pagination:false
    });
  }(jQuery));
</script>
