<div class="container">
  <div class="rless ">
    <div class="logo-slider">
  <div id="carousel{{ module }}" class="owl-carousel owl-theme">
    {% for banner in banners %}
      <div class="text-center col-xs-12 cless">{% if banner.link %}<a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive center-block" /></a>{% else %}<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive center-block" />{% endif %}</div>
    {% endfor %}
    </div>
  </div>
</div>
</div>
<script type="text/javascript">
    (function($){
    $("#carousel{{ module }}").owlCarousel({
    itemsCustom : [
    [0, 2],
    [320, 2],
    [450, 3],
    [600, 4],
    [700, 5],
    [768, 5],
    [992, 5],
    [1200, 6],
    [1410, 7]
    ],
      autoPlay: 6000,
      loop: true,
      navigationText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
      navigation : false,
      pagination:false
    });
  }(jQuery));
</script>