{{ header }}
<div class="breadbg">
  <div class="container">
    <div class="row">
      <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
</div>
<div id="information-contact" class="container">
  <div class="row infobg">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-xs-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1 class="heading"><span>{{ heading_title }}</span></h1>
      <div class="row">
      
      <div class="col-md-4 col-xs-12 infocnt">
      <legend>{{ text_location }}</legend>
      <div class="">
          <!--   {% if image %}
           <img src="{{ image }}" alt="{{ store }}" title="{{ store }}" class="img-responsive" />
            {% endif %} -->

            <!-- <strong>{{ store }}</strong> -->

            {% if comment %}
              <div>{{ comment }}</div>
              {% endif %}

              

              <div class="pull-left"><i class="fa fa-home"></i></div>
              <div class="contsp">{{ address }}</div>

              {% if geocode %}
              <div class="contsp">
              <a href="https://maps.google.com/maps?q={{ geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a></div>
              {% endif %}

              <div class="pull-left"><i class="fa fa-phone"></i></div>
             <div class="contsp"> {{ telephone }}</div>

              {% if fax %}
              <div class="pull-left"><i class="fa fa-fax"></i></div>
             <div class="contsp"> {{ fax }}</div>
              {% endif %}

              {% if open %}
              <div class="pull-left"><i class="fa fa-clock-o"></i></div>
             <div class="contsp"> {{ open }}</div>
              {% endif %}
              
      </div>
 

      {% if locations %}
      <h3>{{ text_store }}</h3>
      <div id="accordion">
        {% for location in locations %}
          <div class="panel-heading">
            <h4 class="panel-title"><a href="#collapse-location{{ location.location_id }}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ location.name }} <i class="fa fa-caret-down"></i></a></h4>
          </div>
          <div class="panel-collapse collapse" id="collapse-location{{ location.location_id }}">
                {% if location.image %}
                <img src="{{ location.image }}" alt="{{ location.name }}" title="{{ location.name }}" class="center-block img-responsive" />
                {% endif %}
                <strong>{{ location.name }}</strong>
                  <address>
                  {{ location.address }}
                  </address>
                  {% if location.geocode %}
                  <a href="https://maps.google.com/maps?q={{ location.geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>
                  {% endif %}
                <strong>{{ text_telephone }}</strong>
                  {{ location.telephone }}
                  {% if location.fax %}
                  <strong>{{ text_fax }}</strong>
                  {{ location.fax }}
                  {% endif %}
                  {% if location.open %}
                  <strong>{{ text_open }}</strong>
                  {{ location.open }}
                  {% endif %}
                  {% if location.comment %}
                  <strong>{{ text_comment }}</strong>
                  {{ location.comment }}
                  {% endif %}
          </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
<div class="col-md-8 col-xs-12">
      <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <legend>{{ text_contact }}</legend>
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-9">
              <input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-email">{{ entry_email }}</label>
            <div class="col-sm-9">
              <input type="text" name="email" value="{{ email }}" id="input-email" class="form-control" />
              {% if error_email %}
              <div class="text-danger">{{ error_email }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-3 control-label" for="input-enquiry">{{ entry_enquiry }}</label>
            <div class="col-sm-9">
              <textarea name="enquiry" rows="10" id="input-enquiry" class="form-control">{{ enquiry }}</textarea>
              {% if error_enquiry %}
              <div class="text-danger">{{ error_enquiry }}</div>
              {% endif %}
            </div>
          </div>
          {{ captcha }}
        </fieldset>
        <div class="buttons">
          <div class="pull-right">
            <input class="btn btn-primary" type="submit" value="{{ button_submit }}" />
          </div>
        </div>
      </form></div>
      </div></div>
    {{ column_right }}</div>
</div>
{{ content_bottom }}
{{ footer }}
